/* h2 {
    margin-top: 0;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

input {
    width: 100%;
    height: 35px;
    border: 3px solid #555;
    font-size: 30px;
    font-weight: lighter;
}

.resultcomponent {
    padding-top: 50px;
} */
