/* body {
    border-left: 1px solid rgb(137, 137, 137);
    border-right: 1px solid rgb(137, 137, 137);
    margin-inline: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */
